/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*@import "bootstrap-sprockets";

@import "bootswatch/readable/variables";

@import "bootstrap";

@import "bootswatch/readable/bootswatch";

@import "base";*/

.navbar {
	background-color: #333232;
	margin: 0px;
}

.navbar-brand {
	padding: 12.5px 5px;
}

img {
	padding: 5px;
}

.icon-bar {
	color:rgba(17, 117, 232, 0.9);
	background-color: rgba(17, 117, 232, 0.9);
}

/*.navbar-default .navbar-nav>li>a {
    color: #337ab7;
}*/

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
    color: rgba(17, 117, 232, 0.9);
}


.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    color: #fff;
    background-color: #F77F00;
}

