// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.sticky.blog {
    background-image: url(IMG_1704.png);
}

.sticky {
    height: 25em;
    background-position: center bottom;
    padding-top: 4em;
}

.sticky, .sticky h1 {
    background-repeat: no-repeat;
}

.full {
    margin-left: -150px;
    margin-right: -150px;
    padding-left: 150px;
    padding-right: 150px;
}

.blog * {
    box-sizing: border-box;
}